.login-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.login-center-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.login-container {
  padding: 40px;
  border-radius: 20px;
  max-width: 400px;
  width: 90%;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.login-form input {
  margin: 10px 0;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: all 0.3s ease;
}

.login-form input::placeholder {
  color: #eee;
}

.login-form input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.login-form button {
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* Animations */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.8s ease forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0.2s;
}
.fade-in:nth-child(2) {
  animation-delay: 0.4s;
}
.fade-in:nth-child(3) {
  animation-delay: 0.6s;
}
.fade-in:nth-child(4) {
  animation-delay: 0.8s;
}
.fade-in:nth-child(5) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  background-color: #1a1a1a;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  width: 100%;
  

  /* margin-top: 100px; */
  /* height: auto; */
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
  z-index: 2;
}
